<aside class="sidebar azul">
    <ul class="menu azul">
        <li>📌 Menú
            <ul class="submenu azul">
                <li>🏠 Inicio</li>
                <li>🔍 Explorar</li>
                <li>🎵 Géneros</li>
                
            </ul>
        </li>

        <li>📂 Biblioteca
            <ul class="submenu azul">
                <li>⏳ Reciente</li>
                <li>📜 Playlist</li>
                <li>⭐ Favoritos</li>
            </ul>
        </li>
    </ul>

    <img src="/music-catalogue/public/Logo.jpg">
</aside>

<app-inicio>
    
</app-inicio>