* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    font-family: 'Helvetica', 'Arial', sans-serif;
    color: #ffffff;
    font-size: 9pt;
    width: 250px;
    height: 100vh;
    background-color: #121212; /* fondo oscuro típico de Spotify */
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu > li {
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #1DB954; /* borde verde Spotify */
    color: #FFFFFF;
    transition: background 0.3s, border-color 0.3s;
}

.menu > li:hover {
    background-color: #1DB954; /* verde Spotify al hacer hover */
    border-color: #1ED760; /* un verde más claro */
    color: #121212; /* texto oscuro para contraste */
    cursor: pointer;
}

.submenu li {
    list-style-type: none;
    font-size: 16px;
    font-weight: normal;
    padding: 8px;
    margin: 4px 0;
    border-radius: 3px;
    border: 1px solid #282828; /* borde más oscuro para fondo oscuro */
    color: #B3B3B3; /* texto gris claro típico de Spotify */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.submenu li:hover {
    color: #ffffff;
    border-color: #1DB954;
    background-color: #1DB954;
    cursor: pointer;
}


